In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
os.listdir()

['test.csv',
 'index.html',
 'restaurant-revenue-prediction.zip',
 'sampleSubmission.csv',
 'train.csv',
 'train.csv.zip',
 'test.csv.zip',
 'index.js',
 'Restuarant comparison.ipynb',
 '.ipynb_checkpoints',
 'main.css',
 '.git']

In [3]:
train = pd.read_csv("train.csv")
train["revenue"] = train["revenue"]/50.85
print(train.head())
print("Rev AVG",np.mean(train["revenue"]))
cost = train["revenue"]*0.8 + np.random.randint(5000,10000)
print(cost.head())
print("Cost Avg: ", np.mean(cost))

   Id   Open Date        City  City Group Type  P1   P2   P3   P4  P5  ...  \
0   0  07/17/1999    İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2  ...
1   1  02/14/2008      Ankara  Big Cities   FC   4  5.0  4.0  4.0   1  ...
2   2  03/09/2013  Diyarbakır       Other   IL   2  4.0  2.0  5.0   2  ...
3   3  02/02/2012       Tokat       Other   IL   6  4.5  6.0  6.0   4  ...
4   4  05/09/2009   Gaziantep       Other   IL   3  4.0  3.0  4.0   2  ...

   P29  P30  P31  P32  P33  P34  P35  P36  P37        revenue
0  3.0    5    3    4    5    5    4    3    4  111184.916421
1  3.0    0    0    0    0    0    0    0    0  136148.102262
2  3.0    0    0    0    0    0    0    0    0   40420.432645
3  7.5   25   12   10    6   18   12   12    6   52615.752212
4  3.0    5    1    3    2    3    4    3    3   84891.150442

[5 rows x 43 columns]
Rev AVG 87581.76230361227
0     97208.933137
1    117179.481809
2     40597.346116
3     50353.601770
4     76173.920354
Name: revenue, dtype: float64
Cost Avg:  78326.40984288987

In [4]:
train["cost"] = cost
print(train.head())

   Id   Open Date        City  City Group Type  P1   P2   P3   P4  P5  ...  \
0   0  07/17/1999    İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2  ...
1   1  02/14/2008      Ankara  Big Cities   FC   4  5.0  4.0  4.0   1  ...
2   2  03/09/2013  Diyarbakır       Other   IL   2  4.0  2.0  5.0   2  ...
3   3  02/02/2012       Tokat       Other   IL   6  4.5  6.0  6.0   4  ...
4   4  05/09/2009   Gaziantep       Other   IL   3  4.0  3.0  4.0   2  ...

   P30  P31  P32  P33  P34  P35  P36  P37        revenue           cost
0    5    3    4    5    5    4    3    4  111184.916421   97208.933137
1    0    0    0    0    0    0    0    0  136148.102262  117179.481809
2    0    0    0    0    0    0    0    0   40420.432645   40597.346116
3   25   12   10    6   18   12   12    6   52615.752212   50353.601770
4    5    1    3    2    3    4    3    3   84891.150442   76173.920354

[5 rows x 44 columns]

In [5]:
ds1 = train[train["revenue"]<train["cost"]]
ds1

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P30,P31,P32,P33,P34,P35,P36,P37,revenue,cost
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,0,0,0,0,0,0,0,0,40420.432645,40597.346116
12,12,02/28/2013,Ankara,Big Cities,IL,2,2.0,4.0,4.0,2,...,0,0,0,0,0,0,0,0,34112.763029,35551.210423
14,14,12/29/2011,Bursa,Other,FC,2,2.0,4.0,4.0,1,...,0,0,0,0,0,0,0,0,39313.608653,39711.886922
19,19,08/16/2011,Sakarya,Other,IL,2,4.0,4.0,4.0,2,...,0,0,0,0,0,0,0,0,39762.713864,40071.171091
21,21,01/25/2014,İstanbul,Big Cities,FC,5,5.0,4.0,4.0,2,...,0,0,0,0,0,0,0,0,22612.979351,26351.383481
31,31,12/31/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,...,4,3,3,2,3,4,3,3,40484.641101,40648.712881
52,52,11/12/2013,Uşak,Other,FC,2,3.0,4.0,4.0,2,...,0,0,0,0,0,0,0,0,34675.142576,36001.114061
63,63,08/05/2013,Kırklareli,Other,FC,2,2.0,4.0,4.0,3,...,0,0,0,0,0,0,0,0,31852.173058,33742.738446
65,65,12/21/2013,İzmir,Big Cities,FC,3,5.0,4.0,3.0,1,...,0,0,0,0,0,0,0,0,34534.296952,35888.437561
66,66,01/09/2010,Konya,Other,FC,2,2.0,4.0,3.0,1,...,0,0,0,0,0,0,0,0,37013.392330,37871.713864
77,77,10/25/2013,Ankara,Big Cities,FC,3,5.0,3.0,5.0,3,...,0,0,0,0,0,0,0,0,37460.019666,38229.015733
88,88,07/10/2013,Antalya,Other,FC,1,2.0,5.0,4.0,1,...,0,0,0,0,0,0,0,0,39828.849558,40124.079646
91,91,06/20/2007,Bursa,Other,IL,3,5.0,4.0,4.0,1,...,0,0,0,0,0,0,0,0,40972.409046,41038.927237
95,95,06/08/2012,Samsun,Other,FC,2,4.0,4.0,4.0,2,...,0,0,0,0,0,0,0,0,24985.231072,28249.184857
113,113,12/09/2006,Tekirdağ,Other,FC,3,4.0,4.0,4.0,1,...,0,0,0,0,0,0,0,0,41239.370698,41252.496559
117,117,12/27/2005,Ankara,Big Cities,IL,3,5.0,4.0,5.0,3,...,3,3,3,2,3,4,3,1,39700.786627,40021.629302
118,118,12/25/2009,İstanbul,Big Cities,IL,12,7.5,7.5,4.5,2,...,25,6,10,4,18,12,12,2,36338.761062,37332.008850

In [6]:
train.shape

(137, 44)